<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Welcome to Web Apps Bank</h1>
      <br>
      <p>Web Apps Bank is newly emerged bank in maryville.
          Now you can deposit and withdraw with no transaction charges with Web Apps Bank.
        Also as brand new branch in maryville, the bank offers no charges on e-statements for student Accounts.
      All Nortwest Missouri State University students are encouraged toutilise this facility</p>
      <hr>
      <h3>Log in to see Account Details</h3>
      <input id="numId" type="number"  placeholder="user login" required>
      <a id="demo" href="/user/details/" onclick="myFunction()" class="btn btn-info">Get User Details</a>

      
      
    </div>
  </div>
</div>
<script>
    function myFunction() {
      let x = document.getElementById("numId").value;
      document.getElementById('demo').setAttribute('href',document.getElementById('demo').getAttribute('href')+x);
    }
      </script>