<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="number" class="form-control" id="accountNumber" name="accountNumber" value="<%= user.accountNumber %>" required>
    </div>

    <div class="form-group">
      <label for="contact">Contact Number</label>
      <input type="text" class="form-control" id="contact" name="contact" value="<%= user.contact %>">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>">
    </div>

    <div class="form-group">
      <label for="firstname"> First Name </label>
      <input type="text" class="form-control" id="firstname" name="firstname" value="<%= user.firstname %>">
    </div>

    <div class="form-group">
      <label for="family">Family </label>
      <input type="text" class="form-control" id="family" name="family" value="<%= user.family %>">
    </div>
    <div class="form-group">
        <label for="gender">Gender </label>
        <input type="text" class="form-control" id="gender" name="gender" value="<%= user.family %>">
      </div>
      <div class="form-group">
          <label for="street1">Street 1 </label>
          <input type="text" class="form-control" id="street1" name="street1" value="<%= user.street1 %>">
        </div>
        <div class="form-group">
            <label for="street1">Street 2 </label>
            <input type="text" class="form-control" id="street1" name="street1" value="<%= user.street1 %>">
          </div>
            
    
    <div class="form-group">
      <label for="city">City </label>
      <input type="text" class="form-control" id="city" name="city" value="<%= user.city %>">
    </div>

    <div class="form-group">
      <label for="state">State </label>
      <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>">
    </div>

    <div class="form-group">
      <label for="zip">zip </label>
      <input type="zipcode" class="form-control" id="zip" name="zip" value="<%= user.zip %>">
    </div>

    <div class="form-group">
      <label for="country">Country </label>
      <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>">
    </div>

  </div>
</div>
