<link rel="stylesheet" href="../../../css/category.css">
<div class=row>
    <div class="col col-md-4">
    </div>
    <div class="col col-md-3">
        <h2>Category</h2>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../images/midhun.jpg" alt="Avatar" style="width:220px;height:220px;">
                </div>
                <div class="flip-card-back">
                    <br>
                    <h4>Midhun Kandakatla</h4>
                    <h5>Category Section</h5>
                    <p>Deals with all categories of individual accounts</p>
                    <p>
                        <div class=row>
                            <div class="col col-md-2.5">
                            </div>
                            <div class="col col-md-2.5">
                                <span><a target="_blank" href="https://www.linkedin.com/in/ravi-kumar-atluri-27988b131/">
                                        <img src="https://img.icons8.com/dusk/30/000000/linkedin.png"></a>
                                </span>
                            </div>

                            <div class="col col-md-2.5">
                                <span><a target="_blank" href="https://bitbucket.org/ravikumaratluri/">
                                        <img src="https://img.icons8.com/dusk/30/000000/github.png"></a>
                                </span>
                            </div>
                            <div class="col col-md-2.5">
                                <span><a target="_blank" href="https://github.com/ravikumaratluri">
                                        <img src="https://img.icons8.com/ios/30/000000/bitbucket.png"></a></span>
                            </div>
                            <div class="col col-md-2.5">
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
    </div>
</div>